<div class="changeThePassword" style="display:none;">
  <form id="changePassword" novalidate="novalidate">
    <ul class="passwordInfo">
      <li>
        <label class="tit">原密码：</label>
        <input type="password" name="oldPassword" required ng-model="oldPassword" class="borderHighlight" />
      </li>
      <li>
        <label class="tit">新密码：</label>
        <input id="password" type="password" name="password" ng-model="password" class="borderHighlight" />
      </li>
      <li>
        <label class="tit">新密码确认：</label>
        <input equalTo='#password' type="password" name="newPassword" ng-model="newPassword" class="borderHighlight" />
      </li>
      <li>
        <button class="btn btnBlue submitPerData" ng-click="confirmChange()" style="visibility: visible;" type="submit">确定</button>
        <button class="btn" ng-click="cancelChangePass()" type="button">取消</button>
      </li>
    </ul>
  </form>
</div>