<!--带checkbox的表格头部-->
<th class="checkbox"
	ng-click="_$pctrl.switchSelectAll(!_$pctrl.$allSelected, $ctrl.opts.data)"
	ng-init="_$pctrl = $ctrl.$scope.$parent.$ctrl; _$bindings = $ctrl.$scope.$parent.$ctrl.bindings"
	cc-dynamic-attr="{'ng-click': !_$pctrl.opts.disable}"
>
	<input type="checkbox"
			ng-checked="_$bindings.selectedAll || _$pctrl.$allSelected"
			ng-disabled="_$pctrl.opts.disable || _$bindings.selectedAll"
	>
</th>

<!--默认表格头部模板-->
<th ng-repeat="column in $ctrl.opts.columnsDef track by $index"
	ng-if="!column.isHidden"
	ng-class="{'column-sort':column.sortProp}"
	ng-click="$ctrl.toggleSort(column)"
	ng-style="{width:column.width, 'text-align':column.align}">

	<span ng-bind="column.displayName" style="word-wrap: break-word"></span>

	<span class="iconfont icon-sort"
	   ng-class="{'column-sort-none':column.sortOrder===undefined,'column-sort-asc':column.sortOrder==='asc','column-sort-desc':column.sortOrder==='desc'}"
	   ng-if="column.sortProp"
	></span>
</th>
