<script type="text/javascript" src="controller/tickets.js"></script>
<div class="coupon" ng-cloak="">
  <div class="maincontainerB">
    <div class="maincontainer">
      <div class="clearfix">
        <h2 class="heading fl">优惠券</h2>
        <div class="smalldarkerblueBtn newbuildBtn">
          <a href="#/view/add">新建优惠券</a>
        </div>
        <span class="ccms_tips">
          <span class="ccms_tipsContent">
            <b></b>需要店铺订购淘宝官方的&quot;店铺优惠券&quot;应用，点击
            <a target="_blank" href="http://fuwu.taobao.com/ser/detail.htm?spm=0.0.0.118.ZjwjUl&amp;service_code=SERV_DPYHQ" title="立即订购">立即订购</a>
          </span>
        </span>
      </div>
      <div class="list">
        <div class="listHeader">
          <ul class="listTab clearfix">
            <li class="listSelected">
              <a href="javascript:;" title="优惠券列表">优惠券列表</a>
            </li>
          </ul>
        </div>
        <div class="couponListssBox listContainer">
          <div style="position:absolute;top:5px;bottom:0;width:100%;">
            <div id="couponListsGrid"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="viewMarkInfoBox" id="couponTip"></div>
