<div class="dataConfigStyle">
  <dl>
    <dt class="mb10">
      <label class="commLabelWidth75">数据配置：</label>
      <span class="commLabelWidth80">数据表：</span>
      <select class="commSelect width302"><option>1</option><option>2</option></select>
    </dt>
    <ul class="commPaddingLeft75">
      <li>
        <p class="mb10">
          <span class="commLabelWidth80">对应数据项：</span>
          <label class="mr20 ml5"><input class="commRadio" type="radio" name="dataType" />字段</label>
          <label>
            <input class="commRadio" type="radio" name="dataType" />表达式
          </label>
        </p>
        <div class="mb10 commPaddingLeft80">
          <div>
            <select class="commSelect width130"><option>1</option></select>
            <em class="ml10">字段类型：char</em>
          </div>
          <div style="display:none;">
            <input class="borderHighlight width200 ml5" type="text" />
            <a href="javascript:void(0)">语法检查</a>
          </div>
        </div>
      </li>
      <li>
        <p>
          <span class="commLabelWidth80">是否多值：</span>
          <label class="mr32 ml5">
            <input class="commRadio" type="radio" name="radioVal" />是
          </label>
          <label>
            <input class="commRadio" type="radio" name="radioVal" />否
          </label>
        </p>
      </li>
    </ul>
  </dl>
</div>