.templatePop .mt {
  height: 20px;
  margin: 5px 10px 0 0;
}
.template {
  position: relative;
  margin-top: 10px;
  line-height: 21px;
  border: 1px solid #e9e9e9;
  height: 400px;
  overflow: hidden;
  color: #606060;
}

.template table {
  width: 100%;
}

.template th {
  border-bottom: 1px solid #e9e9e9;
  background-color: #f2f2f2;
}

.template th,.template td {
  padding: 5px 10px;
  text-align: center;
}
/*.template th:not(:last-child){background:url(/components/flexigrid/css/images/head-line.gif) no-repeat right center;}
.template td{background:#ffffff;line-height;24px;}*/
.template .even td {
  background-color: #fafafa;
  border-bottom: 1px solid #F7F7F7;
}

.template tr:hover td {
  background-color: #eef8fc;
}
.template .flexigrid div.hDiv th div {
  margin: 0;
}
