<!--<link rel="stylesheet" type="text/css" href="css/redlist.css">-->
<div class="maincontainerB dataConfigureTable" ng-controller="redListCtrl">
  <!--页面主体 begin-->
  <div class="maincontainer">
    <div class="grid">
      <div class="clearfix">
        <h2 class="heading fl">客户红名单</h2>
        <div class="smalldarkerblueBtn newbuildBtn">
          <a href="javascript:void(0)" ng-click="showAddCustomPop()">新建红名单</a>
        </div>
      </div>
      <div class="list">
        <div class="gridCommCursom clearfix">
          <a ng-click="showEditBulkPop()" href="javascript:void(0)">批量编辑</a>
          <a ng-click="deleteRedBulk()" href="javascript:void(0)">批量删除</a>
          <!-- <a>|</a><a
                           ng-click="reportRedBulk()"
                           href="javascript:void(0)">名单导出</a>-->
        </div>
        <div class="commSelectPlatAndGroup">
          <div red-data-group-selector="" class="selectBox tingeBlue" style="display: inline-block"></div>
          <div plat-data-selector="" class="selectBox tingeBlue" style="display: inline-block"></div>
        </div>
        <div class="commSearch">
          <label class="default_color" ng-data-red-grid-search="">搜索客户</label>
          <input class="commSearchVal" type="text" ng-model="hdValue" ng-data-red-grid-search="" name="couponName" />
          <button class="commSearchBtn" ng-click="gridObj.searchButtonClick(hdValue,'othFlag')"></button>
          <div class="divrest">
            <a ng-click="reset()" href="javascript:void(0)">重置</a>
          </div>
        </div>
        <div class="couponListssBox gridCommLayout">
          <div id="couponListsGrid"></div>
        </div>
      </div>
    </div>
  </div>
  <!--页面主体 end-->
  <!--添加客户红名单 begin-->
  <div class="addPop" style="display: none">
    <div class="title">
      添加客户红名单
      <a href="javascript:void(0);" class="close" ng-click="groupShow=false"></a>
    </div>
    <div class="ccmsPublicPopMain">
      <div class="configAttrBox">
        <ul>
          <li>
            <input type="radio" name="enabledRadio" value="0" ng-model="status" ng-click="initAddPop()" />
            <label class="commLabelWidth80">单个添加</label>
            <input type="radio" name="enabledRadio" value="1" ng-model="status" ng-click="initAddPop()" />
            <label class="commLabelWidth80">批量导入</label>
          </li>
          <li>
            <label class="commLabelWidth75">主题选择：</label>
            <select ng-model="subjectId" ng-options="subject.subjectId as subject.subjectId for subject in subjects" class="commSelect width210">
              <option value="">--请选择主题--</option>
            </select>
            <label class="error" ng-show="platShow">请选择主题</label>
          </li>
          <li ng-show="status==0">
            <label class="commLabelWidth75">客户ID：</label>
            <input class="borderHighlight width200" maxlength="50" type="text" ng-model="customerno" />
            <label class="error" ng-show="customernoShow">请输入客户ID</label>
          </li>
          <li ng-class="{temp: fileName}" ng-show="status==1">
            <label class="commLabelWidth75">上传文件：</label>
            <div ng-show="!progress" id="pickfiles" class="uploadify-button" style="width:62px;height:20px;line-height:20px;display:inline-block;margin-left:10px;">
              <span class="uploadify-button-text">上传文件</span>
            </div>
            <!--input type="button" id="pickfiles"  style="opacity:0;width:62px;margin-left:5px">
            <!--<input id="file_upload" name="file_upload" type="file" multiple="true" />-->
            <label class="error" ng-show="fileShow">请上传文件</label>
            <a class="blueColor" ng-hide="upSuccess || progress" style="display:inline-block;margin-left:10px" href="https://shuyun-static.b0.upaiyun.com/sample/datamanage/客户名单导入样例.zip" title="导入文件样例" target="_blank">导入文件样例</a>
            <div ng-show="progress" style="position: absolute;top: -2px;left: 89px;width: 40%;">
              <div class="uploadify-progress" style="display: inline-block;width: 130px;">
                  <div class="uploadify-progress-bar" style="width: 1%;"><!--Progress Bar--></div>
              </div>
              <a  href="javascript:;" style="margin-left: 10px;" id="cancelFile">取消</a>
            </div>
          </li>
          <li ng-class="{temp: fileName}" ng-show="fileName">
            <span class="ml88" title="{{fileName}}">{{fileName | dmomit:20}}</span>
          </li>
          <li>
            <label class="commLabelWidth75">选择分组：</label>
            <input class="borderHighlight width200" maxlength="50" type="text" readonly="" name="accounName" ng-model="groupName" ng-click="signClickShow('add')" />
            <span class="fenzu" id="addfenzu" ng-click="signClickShow('add')"></span>
            <label class="error" ng-show="customerGroupIdShow">请选择分组</label>
          </li>
          <li>
            <label class="commLabelWidth75">备注：</label>
            <textarea class="commTextarea" name="remark" maxlength="100" ng-model="remark"></textarea>
          </li>
          <li>
            <label class="commLabelWidth75"></label>
            <button class="btn btnBlue bBRemove" type="submit" ng-click="redListSave()">确定</button>
            <button class="btn" type="button" dm-close-window="" ng-click="groupShow=false">取消</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--添加客户红名单 end-->
  <!--修改组别 begin-->
  <div class="editPop" style="display: none">
    <div class="title">
      编辑红名单
      <a href="javascript:void(0);" class="close" ng-click="groupShow=false"></a>
    </div>
    <div class="ccmsPublicPopMain">
      <div class="configAttrBox" style="padding: 15px 0px">
        <ul>
          <li>
            <label class="commLabelWidth75">选择分组：</label>
            <input class="borderHighlight width200" maxlength="50" type="text" readonly="" name="accounName" ng-model="editRedCustom.groupName" ng-click="signClickShow('eidt')" />
            <span class="fenzu" id="editfenzu" ng-click="signClickShow('eidt')"></span>
            <input ng-show="edittype=='list'" style="position: relative; left: -9px;top: 2px" type="checkbox" ng-model="select_Group" />
            <label ng-show="edittype=='list'" style="position: relative; left: -2px">保持原有分组不变</label>
            <label style="position: relative;left: 315px" class="error" ng-show="customerEditGroupIdShow">请选择分组</label>
          </li>
          <li>
            <label class="commLabelWidth75">备注：</label>
            <textarea class="commTextarea" name="remark" maxlength="100" ng-model="editRedCustom.remark"></textarea>
          </li>
          <li>
            <label class="commLabelWidth75"></label>
            <button class="btn btnBlue" type="submit" ng-click="redListEdit()">确定</button>
            <button class="btn" type="button" dm-close-window="" ng-click="groupShow=false">取消</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--修改组别 end-->
  <!--分组弹窗 start-->
  <div class="selectValuesPop" ng-show="groupShow" ng-model="type">
    <div class="commSanjiao"></div>
    <p>
      <input type="text" class="ac_type_input" dm-add-group-input="" ng-class="{red_border: isInputEmpty}" ng-disable="true" ng-model="itemName" maxlength="20" />
      <button class="commAddEventBtn" type="button" ng-click="addItem()">添加</button>
      <label class="error domBlock" ng-show="!errorStatus">{{errorFont}}</label>
    </p>
    <div style="position:relative;top:5px;left:5px">
      <ul class="row ul200">
        <li ng-repeat="group in groups " title="" class="styleofgroup col2 box" style="height:25px">
          <span class="ng-binding inline-span" title="{{group.groupName}}" ng-click="changeStateImg($index,$event)" style="width:90px">{{group.groupName}}</span>
          <a class="stateImg" href="javascript:void(0)" title=""> <img src="/ccms/images/deletex.png" width="10" height="10" var="{{group.groupId}}" ng-click="deleteItem($event)" /> </a>
        </li>
      </ul>
    </div>
    <p class="mt10 ml5">
      <button class="btn btnBlue commSmallBtn" type="button" ng-click="subMitValues('add')">确定 </button>
    </p>
  </div>
  <!--分组弹窗 end-->
</div>
<div class="viewMarkInfoBox" id="couponTip"></div>
