
<div class="editorCustomerInfoWrap" ng-controller="EditorCustomerInfoCtrl" style="display:none;">
  <ul class="mt20">
    <li class="mb10">
      <label class="commLabelWidth75">客户ID：</label><span class="ml9">AAA</span>
    </li>
    <li class="mb10">
      <label class="commLabelWidth75">姓名：</label><input class="borderHighlight width190" type="text" />
    </li>
    <li class="mb10">
      <label class="commLabelWidth75">性别：</label>
      <label class="ml9 mr10"><input class="commRadio" type="radio" name="customerGender" />男</label>
      <label class="mr10"><input class="commRadio" type="radio" name="customerGender" />女</label>
      <label><input class="commRadio" type="radio" name="customerGender" />不限</label>
    </li>
    <li class="mb10">
      <label class="commLabelWidth75">生日：</label>
      <input class="borderHighlight width190 datetimepicker hasDatepicker" type="text" readonly="true" date-picker="" name="5d">
    </li>
    <li class="mb10">
      <label class="commLabelWidth75">生日：</label>
      <input class="borderHighlight width190 mr5 datetimepicker hasDatepicker" type="text" readonly="true" date-picker="" name="5d">
    </li>
    <li class="mb10">
      <label class="commLabelWidth75">手机号：</label>
      <input class="borderHighlight width190" type="text" >
    </li>
    <li class="mb10">
      <label class="commLabelWidth75">email：</label>
      <input class="borderHighlight width190" type="text" >
    </li>
  </ul>
  <div class="mt20">
    <div class="ling_di"></div>
    <div class="commBottom">
      <div class="mb">
        <button class="btn btnBlue" ng-close-window>确定</button>
        <button class="btn" ng-close-window>取消</button>
      </div>
    </div>
  </div>
</div>
<!--
<script type="text/javascript" src="controller/customer/editorCustomerInfo.js"></script>-->
