<!--<script type="text/javascript" src="controller/customer/groupList.js"></script>-->
<div class="marketingCampGraph" ng-controller="gridGroupController">
  <div class="wrapCampaignListCon">
    <div class="mt clearfix">
      <div class="commSearch">
        <label class="default_color" ng-searcheffect>分组名称</label>
        <input class="commSearchVal" type="text" name="couponName" ng-model="hdValue" ng-searcheffect >
        <button class="commSearchBtn" ng-click="searchObj.searchHdButton(hdValue)"></button>
      </div>
    </div>
    <div class="campaignListCon"></div>
  </div>
</div>
