
<div class="maincontainerB" ng-controller="customerAttributesSettings">
  <div class="maincontainer">
    <div class="clearfix">
      <h2 class="heading fl">客户自定义属性配置</h2>
    </div>
    <div class="ml15">
      <h3 class="bold mb10">选择需要生成查询条件的主题</h3>
      <ul class="attributesSettingsListml5">
        <li class="mb5"   ng-repeat="subject in subjects">
        <input class="commCheckbox"  type="checkbox" value="{{subject.subjectId}}" ng-model="subject.check" ng-checked="subject.check" />{{subject.subjectName}}
        </li>
      </ul>
      <button class="btn btnBlue commSmallBtn" type="button" ng-click="saveCustomerAttributesSettings()">保存</button></p>
    </div>
  </div>
</div>