<div ng-controller="wechatCtrl" class="mesg_node">
  <div class="wechat">
    <div class="commWrapFour clearfix commNodeMarkRelative">
      <div class="bannerCommStyle areaHeight26" ng-show="wechatScope.tips">
        {{wechatScope.tips}}
        <a href="javascript:void(0)" toggle-banner title="展开" class="downSanjiao sanjiaoPosition"></a>
      </div>
      <div class="contentNodeWrap">
        <table>
          <tr>
            <th class="tr" width="18%">
              <label>节点名称：</label>
            </th>
            <td>
              <div class="pr">
                <input type="text" class="borderHighlight nameInput ml5 fl" ng-model="wechatScope.name" maxlength="20" ng-noderequire/>
                <span nodetip=""></span>
              </div>
            </td>
            <td>
              <label class="code mr40 fr">节点代码：{{wechatScope.nodeCode}}</label>
            </td>
          </tr>
          <tr>
            <th class="tr">
              <label>公众号：</label>
            </th>
            <td>
              <input type="text" class="borderHighlight required width200 ml5 wucha" readonly name="publicNumber" valueId="{{wechatScope.publicNumberId}}" ng-model="wechatScope.publicNumberCur" comm-select-config="wechatScope.getPublicNumbers()">
              <a class="blueColor" href="javascript:void(0)" ng-click="wechatScope.getPublicNumbers()">刷新</a>
              <a class="blueColor" ng-click="wechatScope.goAuthorizationHref()" style="cursor:pointer;">去授权</a>
              <label class="error ml5" ng-show="publicNumberFlag" style="position: absolute; top: 103px; left: 124px;">请选择公众号</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <th class="tr">
              <label>素材：</label>
            </th>
            <td>
              <span class="relativeBox">
                    <input type="text" class="borderHighlight required width200 ml5 wucha" readonly name="shopWechat" valueId="{{wechatScope.materialId}}" ng-model="wechatScope.materialName">
                    <a class="optionModule2 location3" ng-click="wechatScope.showMaterialsPop()" href="javascript:void(0);"></a>
                    <label class="error ml5" ng-show="materialFlag" style="position: absolute;left: 7px;top: 26px;">请选择素材</label>
                  </span>
            </td>
            <td></td>
          </tr>
          <!--tr>
            <th class="tr">
              <label>名单控制：</label>
            </th>
            <td colspan="2">
              <div class="pr ml9">
                <!--发送红名单:
                <input type="text" ng-disabled="ngRedAble" class="borderHighlight  ng-pristine ng-valid" readonly="readonly" name="redlist" ng-click="groupPop.openGroupPop('WHITE')" ng-model="WeChatNode.redlistTip" title="{{WeChatNode.redlistTip}}" />
                <a href="javascript:void(0);" ng-click="ngRedAble?false:groupPop.openGroupPop('WHITE')" class="optionModule2" style="left:-20px;" title="{{WeChatNode.redlistTip}}"></a> -->屏蔽黑名单:
                <!--<input type="text" ng-disabled="ngBlackAble" class="borderHighlight  ng-pristine ng-valid" readonly name="blacklist" ng-click="groupPop.openGroupPop('ALL')" ng-model="WeChatNode.blacklistTip" title="{{WeChatNode.blacklistTip}}" />
                <a href="javascript:void(0);" ng-click="ngBlackAble?false:groupPop.openGroupPop('ALL')" class="optionModule2" style="left:-20px;" title="{{WeChatNode.blacklistTip}}"></a>
              </div>
            </td>
          </tr-->
          <tr>
            <th class="tr"><label>发送时间：</label></th>
            <td colspan="2">
              <div class="pr">
                <input type="checkbox" class="mr8 ml5 v1 ng-pristine ng-valid" value="0" ng-model="wechatScope.deliveryTimeSelection"/>执行时发送
              </div>
            </td>
          </tr>
          <tr>
            <th class="tr">输出控制：</th>
            <td colspan="2">
              <input type="radio" class="mr8 v1 ml5" ng-model="wechatScope.outputControl" value="0" />仅发送成功客户
              <input type="radio" class="mr8 v1 ml16" ng-model="wechatScope.outputControl" value="1" />全体客户
              <em class="ico_tips" ng-title="选择全体客户会将发送失败客户也向后方节点输出"></em>
            </td>
          </tr>
          <!--tr>
            <th class="tr" valign="top">
              <label>测试执行账号：</label>
            </th>
            <td colspan="2">
              <input type="text" class="borderHighlight w580 ml5" ng-model="wechatScope.testAccount" /><em class="ico_tips" ng-title="多个openid之间用逗号‘，’分隔，测试微信必须关注公众号才可发送成功。至少填写两个测试帐号。"></em>
              <label class="error domBlock disblackError" ng-show="testAccountError" ng-bind="testAccountMsg"></label>
            </td>
          </tr>
          <!--tr>
            <th class="tr">
              <label>发送范围：</label>
            </th>
            <td>
              <label class="ml5">
                <input class="commRadio" type="radio" name="exportRadio" ng-model="wechatScope.targetClient" value="0" />仅发送成功客户</label>
              <label>
                <input class="commRadio" type="radio" name="exportRadio" ng-model="wechatScope.targetClient" value="1" />全体客户<em class="ico_tips" ng-title="选择全体客户会将发送失败客户也向后方节点输出"></em>
              </label>
            </td>
            <td></td>
          </tr -->
        </table>
      </div>
    </div>
    <div class="ling_di mt10 clearfix"></div>
    <div class="commBottom clearfix">
      <a class="reportButton" href="javascript:void(0);" ng-click="wechatScope.showWechatDataPop()" ng-show="wechatScope.viewWechatDataFlag && wechatScope.materialType === 'news'"><span class="reportIcon"></span>发送报告</a>
      <div class="mb">
        <button class="btn btnBlue" ng-click="wechatScope.postDiscountWechatData($event)">确定</button>
        <button class="btn" ng-close-window>取消</button>
      </div>
    </div>
    <!--<div class="discountBenefitDataView">-->
    <!--<div class="commWrapThree">-->
    <!--<div class="clearfix mb10"></div>-->
    <!--<div class="dataSummaryBenefit">-->
    <!--<table style="margin: 5px auto;height: 50px; border: 0px;cellspacing: 14px">-->
    <!--<tr>-->
    <!--<td class="dataSummaryBenefit_td1 dataSummary_border_fir">{{submitNumTotal}}</td>-->
    <!--<td class="dataSummaryBenefit_td1 dataSummary_border_fir">{{successNumTotal}}</td>-->
    <!--<td style="font-size:16px;color: orange;text-align: center">{{failNumTotal}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td class="dataSummaryBenefit_td2 dataSummary_border_sec">提交数</td>-->
    <!--<td class="dataSummaryBenefit_td2 dataSummary_border_sec">成功人数</td>-->
    <!--<td style="font-size:12px;color: #8E8E8E;;text-align: center">失败人数</td>-->
    <!--</tr>-->
    <!--</table>-->
    <!--</div>-->
    <!--<div class="dataInfoList commOverflowXAuto">-->
    <!--<div class="dataInfoGrid"></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="groupList" style="display: none">
      <!--红名单-->
      <div class="groupContent WHITEGroupContent">
        <input type="checkbox" ng-click="groupPop.change($event,'WHITE')" id="WHITE" />全选
        <div class="line"></div>
        <ul class="clearfix WHITE">
          <li ng-repeat="item in WhiteAndBlackList | filter: {groupType : 'WHITE'}" var="WHITE" data-id="{{item.groupId}}" data-name="{{item.groupName}}">{{item.groupName}} </li>
        </ul>
        <div class="mb">
          <button class="btn btnBlue" ng-click="groupPop.save()">提交</button>
          <button class="btn" ng-close-child-window>取消</button>
        </div>
      </div>
      <!--黑名单-->
      <div class="groupContent ALLGroupContent">
        <input type="checkbox" ng-click="groupPop.change($event,'ALL')" id="ALL" />全选
        <div class="line"></div>
        <input type="checkbox" ng-click="groupPop.change($event,'BLACK')" id="BLACK" />客户黑名单
        <ul class="clearfix BLACK">
          <li ng-repeat="item in WhiteAndBlackList | filter: {groupType : 'BLACK'}" var="BLACK" data-id="{{item.id}}" data-name="{{item.groupName}}">{{item.groupName}} </li>
        </ul>
        <input type="checkbox" ng-click="groupPop.change($event,'MOBILE')" id="MOBILE" />手机黑名单
        <ul class="clearfix MOBILE">
          <li ng-repeat="item in WhiteAndBlackList | filter: {groupType : 'MOBILE'}" var="MOBILE" data-id="{{item.id}}" data-name="{{item.groupName}}">{{item.groupName}} </li>
        </ul>
        <div class="mb">
          <button class="btn btnBlue" ng-click="groupPop.save()">提交</button>
          <button class="btn" ng-close-child-window>取消</button>
        </div>
      </div>
    </div>
    <div class="discountBenefitDataView">
      <div class="weChatGroupWrap">
        <div class="groupSend">
          <div class="groupSendTime">
            群发时间: <span>{{sendDate}}</span>
            <em class="ico_tips" ng-title="群发成功后，将连续7天追踪效果"></em>
          </div>
          <div class="groupSentNumeber">
            <table>
              <tbody>
              <tr>
                <td>发送粉丝数</td>
                <td>实际送达数</td>
              </tr>
              <tr class="number">
                <td>{{sendUserCount}}</td>
                <td>{{actualSendCount}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="shareGroup" ng-show="wechatScope.materialType == 'news' && details.length != 0">
          <div class="groupHead groupTable">
            <span>文章标题</span>
            <span>图文阅读人数</span>
            <span>原文阅读人数</span>
            <span>分享人数</span>
            <span>收藏人数</span>
            <span>操作</span>
          </div>
          <div class="groupTrWrap">
            <div ng-repeat="artItem in details track by $index">
              <div class="groupTr groupTable group_{{$index}}">
                <div class="articleGroup">
                  <span ng-bind="artItem.title" title="{{artItem.title}}"></span>
                  <span ng-bind="artItem.int_page_read_user"></span>
                  <span ng-bind="artItem.ori_page_read_user"></span>
                  <span ng-bind="artItem.share_user"></span>
                  <span ng-bind="artItem.add_to_fav_user"></span>
                  <span ng-click="wechatScope.showDetail($event,$index)">详情<a href="javascript:void(0)" title="展开" class="icon_down"></a></span>
                </div>
                <div class="groupTrEchart">
                  <div class="groupTrTitle">
                    <h3>图文阅读</h3>
                    <h3>图文分享</h3>
                  </div>
                  <div id="ar_{{$index}}" style="width:360px;height: 260px;display: inline-block;margin-top:-15px;"></div>
                  <div id="arShare_{{$index}}" style="width:360px;height: 260px;display: inline-block;margin-top:-15px;"></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!--div class="commBottom clearfix">
        <div class="mb">
          <button class="btn " ng-class="{btnBlue:!isEditorFlag}" ng-close-child-window>确定</button>
          <button class="btn"  ng-close-child-window>取消</button>
        </div>
      </div-->
    </div>
    <div class="choiceMaterialsPop">
      <div class="commWrapFour">
        <div class="clearfix mb10"></div>
        <div>
          <label class="commLabelWidth75">素材类型：</label>
          <span class="relativeBox" style="color:#666;">
                  <input type="text" class="borderHighlight required width200" style="margin-left:9px;position:relative;left:-9px;" readonly  name="materialsType" valueId="{{wechatScope.materialsType}}" ng-model="wechatScope.materialsTypeName" comm-select-config>
              </span>
        </div>
        <div>
        </div>
        <div class="dataInfoList commOverflowXAuto mt10 weChatGrid" style="position:relative;height:414px;">
          <div class="commDataTableStyle materialsInfoGrid">
            <div class="dataTableGird" style="padding: 0 0;height:365px;color:#666;">
              <div class="thead">
                <span class="center mt10" style="width:10%"></span>
                <span class="left mt10" ng-style="{'width': wechatScope.materialsType == 'news'? '35%': '55%'}">标题</span>
                <span class="left mt10" style="width:20%" ng-show="wechatScope.materialsType == 'news'">作者</span>
                <span class="center mt10" ng-style="{'width': wechatScope.materialsType == 'news'? '20%': '35%'}">最后更新时间</span>
                <span class="center mt10" style="width:15%" ng-show="wechatScope.materialsType == 'news'">操作</span>
              </div>
              <div class="dataTableList inQueryDataList" style="height: 325px;border:none">
                <div class="tr clearfix" ng-repeat="materialsItem in wechatScope.materialsList track by $index">
                  <div ng-if="!materialsItem.content">
                    <div  class="td center" style="width:10%"><input class="mt4" type="radio" ng-model="wechatScope.materialsRadioSelect" value="{{materialsItem.media_id}}" name="materialsRadioSelect"/></div>
                    <div  class="td left" style="width:55%" title="{{materialsItem.name}}">{{materialsItem.name}}</div>
                    <div  class="td center" style="width:35%">{{materialsItem.update_time}}</div>
                  </div>
                  <div ng-repeat="materials in materialsItem.content.news_item as itemList" ng-if="materialsItem.content"  class="material_{{$index}} materialsWrap" ng-class="{'materialsMore materials_{{$parent.$parent.$index}}': $index>0}">
                      <div  class="td center" style="width:10%"><input class="mt4" type="radio" ng-model="wechatScope.materialsRadioSelect" value="{{materialsItem.media_id}}" name="materialsRadioSelect" ng-if="$index==0"/></div>
                      <div  class="td left" style="width:35%">
                        <a href="javascript:void(0)" title="展开" class="icon_left" ng-show="itemList.length>1 && $index==0" ng-click="wechatScope.toggleAllMaterials($event,$parent.$parent.$index)"></a>
                        <span class="m_title" title="{{materials.title}}">{{materials.title}}</span>
                      </div>
                      <div  class="td left" style="width:20%;" title="{{materials.author}}">{{materials.author}}</div>
                      <div  class="td center" style="width:20%">{{materialsItem.update_time}}</div>
                      <div  class="td center" style="width:15%"><a class="blueColor" href="{{materials.url}}" target="_blank">预览</a></div>
                    </div>
                </div>
              </div>
            </div>
            <div class="commpageMb" style="height: 49px;">
              <div class="pDiv2">
                <div class="pGroup">
                  <div ng-click="materialsPage.setPage('first')" class="pFirst pButton"><span></span></div>
                  <div ng-click="materialsPage.noPrevious() ? angular.noop : materialsPage.setPage('prev')" class="pPrev pButton"><span></span></div>
                </div>
                <div class="pGroup"><span class="pcontrol">跳至 <input class="width40 ac" type="text" ng-model="materialsPage.pager.currentPage" ng-keyup="materialsPage.enterPage($event)" /> 页</span><div class="pageTips"></div></div>
                <div class="pGroup">
                  <div ng-click="materialsPage.noNext() ? angular.noop : materialsPage.setPage('next')" class="pNext pButton"><span></span></div>
                  <div ng-click="materialsPage.setPage('last')" class="pLast pButton"><span></span></div>
                </div>
                <div class="pGroup pagetotal"><span class="currentPage" ng-bind="materialsPage.pager.currentPage1"></span>/<span class="totalPage" ng-bind="materialsPage.pager.totalPages"></span></div>
                <div class="pGroup">
                  <select name="rp" ng-model="materialsPage.pager.pagesize" ng-options="number for number in materialsPage.sizeList"></select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="commBottom clearfix">
          <div class="mb">
            <button class="btn " ng-class="{btnBlue:!isEditorFlag}" id="marketSure" ng-click="wechatScope.selectMaterials($event)">确定</button>
            <button class="btn"  ng-close-child-window ng-click="wechatScope.cancelMaterials()">取消</button>
          </div>
        </div>
      </div>
    </div>
  </div>
