<div ng-controller="customerrespondgroupCtrl" class="mesg_node">
  <div class="discountEc">
    <div class="commWrapFour commNodeMarkRelative">
      <div class="bannerCommStyle areaHeight26" ng-show="responseScopeObj.tips">
        {{responseScopeObj.tips}}
        <a href="javascript:void(0)" toggle-banner="" title="展开" class="downSanjiao sanjiaoPosition"></a>
      </div>
      <div class="contentNodeWrap">
        <table>
          <tbody>
          <tr>
            <th class="tr" width="18%"><label>节点名称：</label></th>
            <td>
              <div class="pr">
                <input type="text" class="borderHighlight nameInput ml5 fl" ng-model="responseScopeObj.name" maxlength="20" ng-noderequire="" />
                <span nodetip=""></span>
              </div>
            </td>
            <td><label class="code mr40 fr">节点代码：{{responseScopeObj.id}}</label></td>
          </tr>
          <tr>
            <th class="tr"><label>控制组人数：</label></th>
            <td>
              <input class="commRadio ml5" type="radio" name="sampleNode" ng-model="responseScopeObj.exportValue" value="1" />百分比
              <input class="borderHighlight width135 mr5" type="text" ng-model="responseScopeObj.percentNum" ng-number-point="2" min="0" max="100" ng-disabled="responseScopeObj.exportValue==2" />%
              <label class="error ml5" ng-show="responseScopeObj.percentNumFlag">{{responseScopeObj.percentErrorMessage}}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <th></th>
            <td>
              <input class="commRadio ml5" type="radio" name="sampleNode" ng-model="responseScopeObj.exportValue" value="2" />人数
              <input class="borderHighlight width135 ml20 mr5" type="text" ng-model="responseScopeObj.personNum" ng-disabled="responseScopeObj.exportValue==1" max="99999999" min="0" ng-pattern="/\d+/" ng-num="2" />人
              <label class="error ml5" ng-show="responseScopeObj.personNumFlag">{{responseScopeObj.personErrorMessage}}</label>
            </td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="responseDataListView clearfix">
      <div class="commWrapThree">
        <div class="bannerCommStyle">
          默认只显示前100条数据，更多数据点击下载，下载文件只保留15天，15天后，将不再提供下载。如需保留数据，请及时下载文件保存。
        </div>
        <div class="clearfix mb10">
          <a class="formdownLoad fr downloadBtn" ng-show="responseScopeObj.responseReportDownLoadFlag && existFile === 'true'" title="下载" href="/node/v1/web/node/response/download/{{responseScopeObj.subjobId}}" target="_blank" charset="utf-8">下载</a>
          <span class="formdownLoad fr downloadBtn" 
            style="width: auto;color: #8a8a8a;background: none;" 
            ng-show="existFile === 'false'">
            客户数据文件生成中
          </span>
        </div>
        <div class="dataInfoList">
          <div class="unTableLayoutData">
            <ul class="unTableTitleUl clearfix">
              <li class="fl" style="width:{{autoWidth}}" ng-repeat="title in respoonseDataListsTitle track by $index"><span title="{{title}}">{{title}}</span></li>
            </ul>
            <div class="dataInfoListScrollWrap">
              <ul class="clearfix" ng-repeat=" vals in respoonseDataListsVal track by $index">
                <li class="fl" style="width:{{autoWidth}}" ng-repeat="val in vals track by $index"><span title="{{disponseResponsetResultData(val)}}">{{disponseResponsetResultData(val)}}</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ling_di clearfix mt10"></div>
    <div class="commBottom clearfix analysisNode">
      <a href="javascript:void(0);" title="客户数据查看" ng-click="responseScopeObj.showResponseDataPop()" class="reportButton mt5" ng-show="responseScopeObj.viewResponseData && responseScopeObj.showResponseData">
        <span class="reportIcon"></span>客户数据查看
      </a>
      <div class="mb">
        <button class="btn btnBlue" ng-click="responseScopeObj.postDiscountEcData($event)">确定</button>
        <button class="btn" ng-close-window="">取消</button>
      </div>
    </div>
  </div>
</div>
<!--<script type="text/javascript" src="controller/node/tcustomerrespondgroup.js"></script>-->
